*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
@mixin img-fit{
    width: 100%;
    object-fit: cover;
    flex-grow: 1;
}
@mixin inside-box(){
    display: flex;
  padding: 1vw 1vw;
  overflow: hidden;
  border-radius: 1vw;
}
main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.3fr 1fr;
    grid-template-areas: "left left right right right"
                         "left left right-b right-b right-b";
    gap: 0.5vw;
    padding: 3vh 2vw;
    background-color: black;
    
    
    .left {
        
    grid-area: left;
    @include inside-box();
    img{
        @include img-fit();
        border-radius: 1em;
    }

  
    }

    .right {
  grid-area: right;
  @include inside-box();
  img{
    @include img-fit();
    border-radius: 1em;
  }
    }

    .right-b {
  grid-area: right-b;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "first sec third";
  gap: 2vw;
  padding: 1vw 1vw;
  .first{
    grid-area: first;
    @include inside-box();
    img{
        @include img-fit();
        border-radius: 1em;
    }
  }
  .sec{
    grid-area: sec;
    @include inside-box();
    img{
        @include img-fit();
        border-radius: 1em;
    }
  }
  .third{
    grid-area: third;
    @include inside-box();
    img{
        @include img-fit();
        border-radius: 1em;
    }
  }
    }
    
}